# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local
!.env.example

# Database (local SQLite)
*.db
*.db-journal
apps/api/prisma/dev.db*

# Logs & OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Test/coverage
coverage/

# TS build info
*.tsbuildinfo
